footer {
  background-color: var(--Very-Dark-Violet);
  padding-block: 56px;
}

.logo {
  /* background:white; */

  margin-inline: auto;
}

.footer__logo-container {
  margin-bottom: 50px;
}

.footer__container {
  margin: 4.5rem auto;
  text-align: center;
  max-width: 1108px;
}

.footer__socials-container {
  display: grid;
  width: 168px;
  gap: 24px;
  margin-inline: auto;
  grid-template-columns: repeat(4, 1fr);
}

.sublinks-container {
  margin-bottom: 40px;
}

.sublinks-container h4 {
  color: white;
  font-weight: 700;
  margin-bottom: 24px;
}

.sublinks-container ul li {
  list-style: none;
}

.sublinks-container ul li:not(:last-child) {
  margin-bottom: 12px;
}

.sublinks-container ul li a {
  text-decoration: none;
  color: hsla(0, 0%, 75%, 1);
  
}

.sublinks-container ul li a:hover {
  color: var(--Cyan);
}

@media (min-width: 42em) {
  .footer__container,
  .footer__links-container {
    display: flex;
    justify-content: space-between;
  }

  .footer__links-container {
    width: 461px;
  }

  .footer__socials-container {
    margin: 0;
  }
  .footer__socials-container a {
    width: 24px;
    height: 24px;
  }

  .footer__socials-container a:hover {
    display: inline;
    outline: 3px solid var(--Cyan);
  }
}
