.container {
  margin: 40px 24px;
  max-width: 1108px;
}

@media (min-width: 42em) {
  .container {
    margin-inline: auto;
  }
}

.nav-links-container {
  display: none;
  position: absolute;
}
.show-links ul li {
  list-style: none;
  text-align: center;
}

.show-links ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-weight: 700;
  width: 100%;
}

.show-links {
  display: block;
  width: 327px;
  top: 90px;
  right: 2rem;
  padding: 30px 24px;
  border-radius: 10px;
  background-color: var(--Dark-Violet);
  z-index: 2;
}

.show-links ul li:not(:last-child) {
  margin-bottom: 30px;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-links .login {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid var(--Grayish-Violet);
}

.sign-up a {
  margin-bottom: 0;
  height: 48px;
  display: grid;
  place-items: center;
  border-radius: 28px;
  background-color: var(--Cyan);
}

.logo {
  width: 120px;
  height: 32.67px;
}

.bars {
  width: 24px;
  height: 21px;
  display: grid;
  place-items: center;
  font-size: 1rem;
  color: var(--Grayish-Violet);
}

@media (min-width: 42em) {
  .bars,
  .show-links {
    display: none;
  }

  .nav-links-container,
  .login,
  .links,
  nav > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links-container {
    position: static;
    width: 87%;
  }

  .nav-links-container ul li {
    list-style: none;
    margin-left: 1.5rem;
  }

  .nav-links-container ul li a {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--Grayish-Violet);
    font-weight: 700;
  }

  .nav-links-container ul li a:hover {
    color: var(--Very-Dark-Blue);
  }

  .sign-up a {
    width: 105px;
    color: white !important;
    transition: all 300ms;
  }

  .sign-up a:hover {
    background: var(--Cyan-hover);
  }
  .logo {
    width: 120px;
  }
}
